body {
    font-size: 24px;
}

.content0 {
    width: 50vw;
    height: 50vh;
    background-color: lightblue;
    margin-bottom: 2rem;
}

.content {
    width: 400px;
    height: 400px;
    background-color: blue;
}

.box {
    width: 50%;
    height: 300px;
    background-color: red;
}

.content2 {
    margin-top: 10px;
    width: 400px;
    height: 20rem;
    background-color: rgb(94, 94, 179);
}

h2 {
    font-size: 2rem;
}

span {
    font-size: .5em;
}
