body {
    background-color: lightgray;
    color: blue;
}

h1 {
    background-color: black;
    color: white;
    text-decoration: overline solid blue;
    text-transform: uppercase;
    letter-spacing: -2px;
}

p {
    text-indent: 30px;
    white-space: normal;
    background-color: lightblue;
    color: black;
}

h2 {
    text-transform: lowercase;
    letter-spacing: 5px;
}

h3 {
    text-transform: capitalize;
}

h3.a {
    text-align: right;
    margin-top: 10px;
    text-decoration: line-through double red;
}

h3.b {
    text-align: center;
    margin-top: 10px;
    text-decoration: underline dashed green;
}

h3.c {
    text-align: left;
    margin-top: 10px;
    text-decoration: overline underline wavy purple;
}

p.one {
    line-height: 1.8;
    word-spacing: -2px;
}

p.tow {
    line-height: 0.8;
    word-spacing: 10px;
}

.s1 {
    color: black;
    text-shadow: 2px 2px blue;
}

.s2 {
    color: black;
    text-shadow: 2px 2px 5px blue;
}

.s3 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.s4 {
    color: black;
    text-shadow: 0 0 3px #ff0000;
}

.s5 {
    color: black;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.s6 {
    color: white;
    text-shadow: 1px 1px 2px blue, 0 0 25px black, 0 0 5px blue;
}