* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

div {
    width: 20vw;
    height: 20vh;
    border: 5px solid blue;
    background-color: lightblue;
    padding: 1rem;
}

h1 {
    font-size: 2em;
    color: blue;
}